body{
    color: white;
    background-color: black;
    margin: 10px;
    padding: 0;
}

#projectWrapper{
    border: 1px solid white;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
    width: 200px;
}
#allProjects{
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

#hero{
    background-image: url(images/markmote.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: inset 400px 50px 500px black,inset -300px -50px 500px black;
    height: 500px;
    border: 2px solid red;
    margin: 0;
    padding: 5px;
}

#hero-content{
   position: absolute;
   left: 50px;
   padding: 5px;
   text-shadow: 3px 3px 3px black ;
   top: 200px;
   color: rgb(255, 255, 255);
   
}

#socials{
    position: fixed;
   right: 30px;
   top: 200px;
   background-color: hsla(184, 51%, 24%, 0.3);
   padding: 2px;
   border-radius: 2px;
   
}
.none{
    display: none;
}

#socialNavs a img{
    width: 30px;
}
#socialNavs a :hover{
    background-color: aliceblue;
    transform: rotate(360deg) scale(1.2);
    transition: all 0.1s;
    border-radius: 50px;
}

#knowme {
    position: absolute;
    top: 480px;
}

#myname{
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#{
    
}

@media (max-width: 900px){
    #hero{
    /* background-image: url(images/markmote.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    box-shadow: inset 300px 50px 500px black,inset -250px -50px 500px black;
    /* height: 500px;
    border: 2px solid red;
    margin: 0;
    padding: 5px; */
}
    
}
@media (max-width: 600px){
    #hero{
    /* background-image: url(images/markmote.jpg) ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; */
    box-shadow: inset 200px 40px 500px black,inset -100px -50px 500px black;
    /* height: 300px; */

    
}
#hero-content{
   position: absolute;
    left: 10px;
   
}
    
#socials{
   right: 20px;
   top: 400px;
   
   
}
#socialNavs a img{
    width: 20px;
}
}